body nav.navbar-dark.bg-dark {
	background: black !important;
}
body nav.navbar-dark.bg-dark img {
	min-width: 250px;
	height: 38px;
}
body .sample {
	margin-top: 20px;
}
body .col {
	background-color: whitesmoke;
	border: 1px solid #e5e5e5;
	border-radius: 10px;
	margin: 15px;
}
body h1 {
	margin-top: 15px;
	margin-bottom: 15px;
}
